<html xmlns="http://www.w3.org/1999/xhtml" ng-app="Library">
<head>
    <title></title>

    @Styles.Render("~/Content/css")

    @Scripts.Render("~/Scripts/angular")
    @Scripts.Render("~/Scripts/ngApp")
</head>
<body>
    <div class="container">
        <ng-view></ng-view>
    </div>
</body>
</html>